body{
    font-family: 'calibari', sans-serif;
}
.btn:hover{
    background-color:rgb(163, 7, 20);
    
}
.navbar-brand{
    text-decoration: bold;
    font-size:35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

   .nav-item{
       border: 2px solid #fffb00;
       
   }
   .nav-item:hover{
    background-color:#800000;
    font-size: large;
    
}
.banner-container{
    background-color:#D5DBDB
}
.banner-column{
    background-color: #800000;
    margin: auto;
    
    border-bottom-left-radius: 30px;
    
    border-top-right-radius: 30px;
    
}

.education-container{
    background-color:rgb(247, 242, 243);
}
.bg-redtype{
    background-color: cornsilk;
}
.redtype-color{
    color: black;
}
.circle-edu{
    background-color: #1A5276;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color:white;
}
.py-5{
font-size: 20px;
font-weight: bolder;
}
.project-container{
    background-color: white;
    color:black;
}
.card img{
    height: 290px;
    border: 4px solid rgb(141, 10, 17);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
.paragraph{
    font-weight: bolder;
     text-align: center;
}
.curriculam{
    font-weight: bolder;
    font-size: large;
    
}
.from-container{
    background-color: rgba(6, 80, 126, 0.815);
}
.inner-form{
    background-color: #347096;
    
}
.inner-form:hover{
    background-color:white;
}
.footer{
    background-color: rgb(179, 178, 178);
}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 180%;
    text-align: center;
    color:#3A5794;
    
}
.circle:hover{
    background-color:#98b0e2;
    color: white;
}
.img{
    width: 500px;
    height: 300px;
}
.card-body2{
    background-color: #1A5276;
    color: white;
}
.container-heading{
    background-color: #800000;
    color: white;
    border-bottom-left-radius: 20px;
    
    border-top-right-radius: 20px;
}
